* {
    margin: 0;
    padding: 0;
}

:root {
  --var-orange: rgb(255, 119, 0);
  --var-darkGray: rgb(32, 32, 32);

}

html {
  scroll-behavior: smooth;
  font-family: sofia pro, sans-serif;
  font-style: normal;
  font-weight: 100;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

ul li {
  padding-top: 0.5em;
  transition: 1s;
  font-weight: 300;
}

ul li:hover {
  color: var(--var-orange);
}

ul h6 {
  font-weight: 700;
  font-size: 1.5em;
  padding-top: 1em;
}

/* Styling van de headers */
/* ---------------------------------------- */

h1 {
  font-size: clamp(1em, 2em, 3em);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

h2 {
  font-size: 2vi;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 2em;
  text-transform: uppercase;
}

h4 {
  padding-top: 0.5em;
  padding-bottom: 1em;
  color: rgb(252, 115, 65);
  font-weight: 400;
  font-style: italic;
}

/* ---------------------------------------- */


main {
  display: flex;
  justify-content: center;
}

.homeButton {
  position:fixed;
  top: 2vh;
  z-index: 500;
  width: fit-content;
  height: fit-content;
  transition: 1s;
}

main .homeButton h1 {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 10em;
  background-color: white;
  box-shadow: rgb(149, 149, 149) 0em 0.1em 1em;
 
  cursor: pointer;
}

main .homeButton:hover {
  color: var(--var-orange);
  text-decoration: none;
}

.mobileMenuButton {
  display: none;
  position: fixed;
}

main > button {
  background-color: rgb(229, 229, 229);
  position: fixed;
  left: -0.1em;
  top: 40vh;
  z-index: 100;
  height: fit-content;
  width: fit-content;
  padding: 4em 1em 4em 1em;
  border-radius: 0em 2em 2em 0em;
  box-shadow: none;
  border: none;
  box-shadow: rgb(149, 149, 149) 0.1em 0em 1em;
  text-decoration: none;
  transition: 2s;
}

main button:hover {
  cursor: pointer;
}

main button h2 {
  font-size: 3em;
  opacity: 1;
}

section {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  background-color: rgb(23, 23, 23);
}


/* menuScreen */

.menuScreen {
  transition: 2s ease-in-out;
  position: absolute;
  left: -100vw;
  background-color: var(--var-darkGray);
  width: 0%;
  height: 100vh;
  z-index: 400;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.menuScreen h5{
  padding-top: .3em;
  text-align: center;
  font-size: 5em;
  text-transform: uppercase;
}

.menuScreenContent {
  color: white;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* active class die het menu verplaats */

.active {
  left: 0;
  position: fixed;
  width: 100%;
}

/* de toggle button voor het menu */

.menuButton {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  position: fixed;
  background-color: white;
  right: 1vw;
  top: 2vh;
  width: 1.1em;
  height: 1.1em;
  z-index: 500;
  border-radius: 11em;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
  padding: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: rgb(149, 149, 149) 0em 0.1em 1em;
}

.menuButton:hover > .bar1,
.menuButton:hover > .bar2,
.menuButton:hover > .bar3 {
  background-color: var(--var-orange);
}

.bar1,
.bar2,
.bar3 {
    width: 100%;
    height: 30%;
    background-color: #333;
    margin: 0.1em 0;
    transition: 1s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* ---------------------------------------- */

/* Project page layout */

.projectPage {
  background-color: white;
  padding-top: 8em;
  overflow: hidden;
}

.projectPage article {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.projectPage p {
 text-align: start;
}

.projectPage h3, h4 {
  text-align: center;
}

.projectPage .image-container-project:first-of-type {
  aspect-ratio: 2/1;
  margin: 3em 0em;
  height: auto;
  width: 100vw;
}
 
.projectPage .image-container-project {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0em 0em 0em;
  background-color: var(--var-darkGray);
}

.projectPage .image-container-project:nth-of-type(2) {
  overflow: scroll;
}

.projectPage article .image-container-project img {
  width: 100vw;
  height: auto;
}

.projectPage video {
  width: 80vw;
  height: auto;
}

/* ---------------------------------------- */

#spookyOnepager, #BeeldtaalPoster {
  height: auto;
  width: 80vw;
  align-self: flex-start;
}

#afstuderen {
  width: 100vw;
}

embed, iframe {
  width: 80vw;
  height: 80vh;
}

iframe {
  width: 80vw;
  height: 80vh;
}

.image-container-project-afstuderen {
  display: flex;
}

.image-container-project-afstuderen embed {
  width: 33vw;
}

.image-container-project iframe {
  width: 80vw; 
  height: 100%;
}


/* Button container */
/* ---------------------------------------- */

.buttonContainer {
  height: 20vh;
  width: fit-content;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer .button {
  background-color: var(--var-orange) ;
  z-index: 100;
  height: fit-content;
  width: fit-content;
  padding: 1em;
  border-radius: 10em;
  box-shadow: var(--var-orange) 0em 0.1em 1em;
  transition: 2s;
  margin: 0em 1em;
  color: white;
}

.buttonContainer .button:hover {
  transform: scale(1.2);
}


/* Image container + de overlay erover heen */
/* ---------------------------------------- */

.image-container {
  display: flex;
  width: 25%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.image-container img {
  width: auto; 
  height: 100%;
}

.image-container .overlay {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;

  opacity: 0;
  transition: 1s; 

  /* positie van text in de overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover .overlay {
  opacity: 0.8;
  background-color: white;
}

.overlay > h2 {
  padding: 0em 1em;
}

/* ---------------------------------------- */


/* footer */
/* ---------------------------------------- */

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  transition: 1s;
}

footer a:hover {
  color: var(--var-orange);
}


/* Responsive mediaqueries */
/* ---------------------------------------- */

@media screen and (max-width: 2000px) {
  .projectPage p, h3, h4 {
    width: 30vw;
  }
}

@media screen and (max-width: 1334px) {
  .image-container {
    width: 33.333%;
  }

  h2 {
    font-size: 3vi;
    text-transform: uppercase;
  }

  .projectPage p, h3, h4 {
    width: 40vw;
  }
}

@media screen and (max-width: 756px) {
  .image-container {
    width: 50%;
  }

  h2 {
    font-size: 5vi;
    text-transform: uppercase;
  }

  .projectPage p, h3, h4 {
    width: 70vw;
  }

  .projectPage .image-container-project {
    height: 45vh;
    width: 100%;
  }

  .projectPage .image-container-project iframe {
    width: 100%; 
    height: 100%;
  }

}

@media screen and (max-width: 460px) {
  .image-container {
    width: 100%;
  }

  h1 {
    font-size: 5vi;
  }

  .menuButton {
    display: none;
  }

  .mobileMenuButton {
    display: block;
    position: fixed;
    background-color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 10em;
    background-color: white;
    box-shadow: rgb(149, 149, 149) 0em 0.1em 1em;
    bottom: 2vh;
    cursor: pointer;
    z-index: 500;
    font-weight: 700;
  }

  h2 {
    font-size: 10vi;
    text-transform: uppercase;
  }

  .projectPage {
    padding-top: 5em;
  }

  .projectPage p, h3, h4 {
    width: 80vw;
  }

  .projectPage .image-container-project {
    height: 30vh;
    width: 100%;
  }

  .projectPage .image-container-project iframe {
    width: 100%; 
    height: 100%;
  }

}